body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: radial-gradient(#193652, #320042); /*linear-gradient(354deg, #252040, #1c2d3e)*/
  font-size: 16px;
}

main {
  background: #16202d;
  min-height: 80vh;
  width: 949px;
  padding: 30px 20px 20px;
  margin: 10px auto;  
}

header {
  padding: 5px 20px 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: #101822;
  gap: 5px;
}

a {
  color: #ffffff;
  /*color: #ebebeb;*/
  text-decoration: none;
  cursor: pointer;
}

b {
  color: #C6D4DF;
}

p {
  color: #969696;
}

section {
  width: 720px;
  margin: 0 auto;
}

#sidebar {
  display: inline-block;
  background: #101822;
  height: 100%;
  width: 180px;
  padding: 10px;
}

/*Popup Section*/
#popup {
  background: #00000099;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#popup_content {
  position: relative;
  max-width: 576px;
  min-height: 100px;
  background: #16202d;
  margin: 0 auto;
  top: 243px;
  padding: 15px;
  box-shadow: inset 0px 0px 3px 0px #66c0f4;
}

#popup_dialog_title {
  color: white;
}

#popup_dialog_message_box {
  color: #969696;
  padding: 0 35px;
  /*text-align: justify;*/
}

#popup_content_buttons_container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
}
/*End Popup Section*/

/*Warning Section*/
.warning-block {
  /*height: 67px;*/
  margin-top: 20px;
  background: #2B2E34;
  border: 1px solid #632929;
  padding: 10px 30px;
}

.warning-container {
  /*margin-top: 20px;*/
  margin-bottom: 20px;
}

.warning-close-block {
  width: 20px;
  height: 21px;
  float: right;
  cursor: pointer;
}

.warning-title {
  font-size: 18px;
}

.warning-alert {
  color: #ef0000;
}

.warning-info {
  color: #e5bf00;
  /*color: #cbe500;*/
}

.warning-message {
  color: #969696;
}

.warning-li {
  padding-bottom: 10px;
}
/*End Warning Section*/

.content-title {
  color: #66c0f4;
  font-size: 24px;
  font-weight: normal;
  /*margin-top: 20px;*/
  margin-bottom: 20px;
}


.table-head {
  display: flex;
  color: #afafaf;
  font-size: 85.7%;
  background: #00000030;
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

.table-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cell-head {
  height: 2.25em;
  padding: 0px;
  white-space: nowrap;
  text-align: center;
}

.cell-head-first {
  text-align: left;
  padding-left: 5px;
}

.cell-head-name {
  display: inline-block;
  padding-top: 7px;
}

.cell-head-border {
  border-left: solid 1px #464646;
}

table {
  table-layout: fixed;
  width: 100%;
}

thead {
  color: #afafaf;
  font-size: 85.7%;
  background: #00000030;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.table-row {
  display: flex;
  background: #00000030;
  height: 50px;
  margin-top: 7px;
}

.cell-username-block {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-user-block {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.icon-user-fit {
  width: 38px;
  height: 38px;
  border: 1px solid #D2D2D2;
  object-fit: contain;
}

.username-block {
  width: 200px;
  margin-top: 7px;
}

.row-username {
  color: white; 
}

.row-steamid {
  color: #969696;
}

.setting-category {
  display: inline-block;
  /*width: 100%;*/
  width: 180px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: #afafaf;
  line-height: 36px;
}

.choice-category, .setting-category:hover, .account-button:hover {
	color: white;
}

.choice-category, .setting-category:hover, .account-button:hover, .action-grey:hover {
  background: linear-gradient(to bottom, #6b5fc7, #3fa2db) repeat scroll 0 0;
}

.hide-content {
  display: none;
}

.account-card {
  background: #00000030;
  height: auto;
  width: auto;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.avatar-container {
  width: 166px;
  height: 166px;
  border: solid 2px;
  /*border-color:  #57cbde;*/
  border-color: #6a6a6a;
  margin: auto 0px;
}

.current-avatar-container {
  border-color: #90ba3c; 
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.account-card-info {
  height: 100%;
  width: 250px;
  padding: 0 10px;

}

.account-card-content {
  display: flex;
  min-height: 170px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.current-account-card-container {
  font-size: 22px;
  height: 25px;
}

.current-account-card-true {
  color: #90ba3c;
}

.username-account-card-container {
  line-height: 40px;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 200;
}

.username-account-card-container > a:hover {
  text-decoration: underline;
}

.steamid-account-card-container {
  color: #969696; 
}

.language-account-card-container, .listings-account-card-container {
  padding-top: 7px;
  color: white;
  font-size: 18px;
}

/*.language-account-card-container > .current-language-account {
  color: #66c0f4;
}*/

.language-account-card-container > span {
  color: #969696;
  font-family: cursive;
  font-size: 16px;
}

.listings-account-card-container > .last-index-listings-account {
  margin-left: 10px;
  margin-right: 6px;
}

.listings-account-card-container > .total-listings-account {
  color: #90ba3c;
  margin-left: 6px;
}

/*.listings-account-card-container > span {
  font-family: cursive;
  font-size: 16px; 
}*/

.account-card-action {
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  text-align: center;
  color: #bfbfbf;
  font-size: 17px;
  line-height: 30px;
  cursor: pointer;
  white-space: nowrap;  
}

.btn-green {
  text-align: center;
  padding: 0 15px;
  background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
  color: #D2E885;
  font-size: 17px;
  line-height: 30px;
  cursor: pointer;
  white-space: nowrap;
}

.btn-gray {
  font-size: 17px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  color: #bfbfbf;
  /*padding: 0 15px;
  background: #ffffff;
  color: #D2E885;
  font-size: 17px;
  line-height: 30px;
  cursor: pointer;
  white-space: nowrap; */
}

/*.btn-gray:hover {
  background: #00000052;
}
*/
.btn-green:hover, .btn-gray:hover {
  color: white;
}

#close_add_new_account {}

.add-account-form {
  width: 164px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.add-new-account-language-select {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

select {
  color: #fff;
  background: #32373f;
  border: 1px solid rgba(50,55,63,0);
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
}

.account-button {
  display: flex;
  background: #3d4450;
  color: #dfe3e6;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  cursor: pointer;
  min-width: 165px;
}

.button-icon-container {
  width: 18px;
  height: 18px;
  padding: 6px; 
}

.button-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-name {
  padding-right: 6px;
  line-height: 30px;
  font-size: 17px;
}

.account-menu-block-wrap {
  display: block;
}

.account-menu-flex-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 3px;
}

/*One type of action button*/
.action-button {
  text-align: center;
  padding: 0 15px;
  font-size: 17px;
  line-height: 30px;
  cursor: pointer;
  white-space: nowrap;
  min-width: 135px;
  display: inline-block;
}

.action-green {
  background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
  color: #D2E885;
}

.action-blue {
  background: linear-gradient(to bottom, #6b5fc7, #3fa2db) repeat scroll 0 0;
  color: #e1e1e1;
}

.action-grey {
  background: #3d4450;
  color: #dfe3e6;
}

.action-blank {
  color: #bfbfbf;
}

.action-green:hover, .action-blank:hover, .action-blue:hover, .action-grey:hover {
  color: white;
}

.action-inactive {
  background: #404040;
  color: #747474;
  /*border: 1px solid #747474;*/
  cursor: alias;
}
/*End Section*/

/*Listing Poller Statusbar*/
#listing_poller_statusbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lp-statusbar-block {
  width: 100%;
  height: 100%;
}

#lp_statusbar_button_block {
  width: 100%;
  height: 30px;
  padding-top: 13px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.lp-title {
  font-size: 18px;
  color: #66c0f4;
}

.lp-statusbar-info {
  font-size: 15px;
  height: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
}

.lp-progressbar {
  width: 100%;
  height: 4px;
  padding: 1px;
  background: #727272;
  border-radius: 50px;
}

.lp-progress {
  height: 100%;
  background: #66c0f4;
  border-radius: 34px;
}

#lp_progress {
  width: 0%;
}

.lp-status-message {
  color: white;
  float: left;
}

.lp-percent-progress {
  color: white;
  float: right; 
}

.lp-count-title-group {
  padding-top: 5px;
  height: 20px;
}

.lp-count-group {
  width: 100%;
  height: 56px;
}

.lp-count-side {
  width: 50%;
  height: 100%;
}

.lp-count-title {
  color: #969696;
}

.lp-count {
  color: white;
}

.lp-transaction-count {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lp-listings-count {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.lp-split-listings {
  width: 100%;
  height: 1px;
  background: #727272;
  border-radius: 40px;
}

.lp-listing-num {
  color: white;
  font-size: 22px;
}

#lp_recorded_count {
  font-size: 27px;
  color: white;
}
/* End Section*/

/* Databases Section */
#delete_databases {
  float: right;
  margin-top: 30px;
}
/* End Databases Section */